.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 183px;
        height: 56px;

        &:hover {
            transition: all .3s;
            filter: drop-shadow(0px 0px 20px rgba(46, 236, 197, 0.45));
        }
    }
}

.logo__img {
    width: 96px;
}