.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        font-size: 19px;
        line-height: 27px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 183px;
        height: 56px;
        background: rgba(46, 236, 197, 0.1);
        border: 1.5px solid #2EECC5;
        border-radius: 49px;
        box-shadow: 0px 0px 21px rgba(46, 236, 197, 0.15);
        cursor: pointer;
        animation: radial-pulse 1s infinite;

        &:hover {
            transition: all .3s;
            background: lighten($color: rgba(46, 236, 197, 0.1), $amount: 10%);
            filter: drop-shadow(0px 0px 20px rgba(46, 236, 197, 0.45));
        }
    }
}

.logo__img {
    width: 96px;
}