/* FONTS */

/* @font-face {
    font-family: 'Montserrat-Thin';
    font-weight: 100;
    font-style: normal;
    src: url('../public/fonts/Montserrat-Thin.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    font-weight: 200;
    font-style: normal;
    src: url('../public/fonts/Montserrat-ExtraLight.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-Light';
    font-weight: 300;
    font-style: normal;
    src: url('../public/fonts/Montserrat-Light.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/Montserrat-Regular.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-style: normal;
    src: url('../public/fonts/Montserrat-Medium.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: url('../public/fonts/Montserrat-SemiBold.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('../public/fonts/Montserrat-Bold.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: url('../public/fonts/Montserrat-ExtraBold.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat-Black';
    font-weight: 900;
    font-style: normal;
    src: url('../public/fonts/Montserrat-Black.woff2') format('woff2');
    src: url('../public/fonts/Montserrat-Black.woff') format('woff');
} */


/* @font-face {
    font-family: 'Ruberoid Thin';
    font-weight: 100;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-Thin.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Ruberoid ExtraLight';
    font-weight: 200;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-ExtraLight.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Ruberoid-Light';
    font-weight: 300;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-Light.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-Light.woff') format('woff');
}

@font-face {
    font-family: 'Ruberoid';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-Regular.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Ruberoid Medium';
    font-weight: 500;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-Medium.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Ruberoid Semi';
    font-weight: 600;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-SemiBold.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Ruberoid Bold';
    font-weight: 700;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-Bold.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Ruberoid Extra';
    font-weight: 800;
    font-style: normal;
    src: url('../public/fonts/Ruberoid-ExtraBold.woff2') format('woff2');
    src: url('../public/fonts/Ruberoid-ExtraBold.woff') format('woff');
} */