/* GLOBAL */
html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Ruberoid';
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-top {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-price {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-big {
    max-width: 1690px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

/* .btn {
    font-family: 'Ruberoid';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: rgba(46, 236, 197, 0.1);
    border: 1.5px solid #2EECC5;
    border-radius: 49px;
    cursor: pointer;
    box-shadow: 0px 0px 21px rgba(46, 236, 197, 0.15);


     &__btn {
        font-family: 'Ruberoid';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 183px;
        height: 56px;
        background: rgba(46, 236, 197, 0.1);
        border: 1.5px solid #2EECC5;
        border-radius: 49px;
        box-shadow: 0px 0px 21px rgba(46, 236, 197, 0.15);
        cursor: pointer;

        &:hover {
            transition: all .3s;
            filter: drop-shadow(0px 0px 20px rgba(46, 236, 197, 0.45));
        }
    }
} */

.section__title {
    font-family: 'Ruberoid Bold';
    font-weight: 700;
    font-size: 55px;
    line-height: 110.6%;
    background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
}

.swiper {
    padding-bottom: 5px;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 40%;
    z-index: 10;
    width: 70px;
    height: 70px;
    margin-top: 0px;
    cursor: pointer;
    border: 1.5px solid #153630;
    box-shadow: 0px 0px 10px rgba(46, 236, 197, 0.1);
    border-radius: 50%;
    background-color: transparent;
}

.swiper-button-next::after,
.slick-arrow.slick-next:before {
    content: url(../public/images/slider-btn-left.svg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    opacity: 1;
    transform: rotate(180deg);
}

.swiper-button-prev::after,
.slick-arrow.slick-prev:before {
    content: url(../public/images/slider-btn-left.svg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    opacity: 1;
}

.slick-next {
    right: 325px;
}

.slick-prev {
    left: -35px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    background-color: transparent;
    border: 1.5px solid #153630;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 10px rgba(46, 236, 197, 0.1);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

/* FULLPAGE */

#fp-nav.fp-left {
    left: 163px !important;
    top: 400px !important;
}

#fp-nav ul li a span {
    background: #2CE8C2 !important;
}

.fp-is-overflow .fp-overflow.fp-auto-height-responsive,
.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow>.fp-overflow {
    overflow-y: visible !important;
}

/* MAIN */

.first-screen:before {
    content: url(../public/images/bgg.jpg);
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: grayscale(1);
    opacity: 0.04;
}

.footer__title {
    &::after {
        content: url(../public/images/decor-star-right.svg);
        position: relative;
        top: -55px;
        left: 0;
    }

    &::before {
        content: url(../public/images/decor-star-left.svg);
        position: relative;
        top: 65px;
        left: 0;
    }
}

.portfolio {
    padding: 145px 0px 350px;
    background-image: url(../public/images/decor1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.cooperation {
    padding: 85px 0 145px;
    background-image: url(../public/images/decor2.png);
    background-size: cover;
    background-position: center 80%;
}