/* GLOBAL */
html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Montserrat-Regular';
    font-size: 17px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    background-color: #161617;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-top {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-price {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-big {
    max-width: 1690px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-footer {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.section__title {
    font-family: 'Montserrat-Bold';
    font-size: 55px;
    line-height: 110.6%;
    background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
}

.swiper {
    padding-bottom: 5px;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 70px;
    height: 70px;
    margin-top: 0px;
    cursor: pointer;
    border: 1.5px solid #153630;
    box-shadow: 0px 0px 10px rgba(46, 236, 197, 0.1);
    border-radius: 50%;
    background-color: transparent;
    transform: translateY(-50%);
}

.swiper-button-next::after,
.slick-arrow.slick-next:before {
    content: url(../public/images/slider-btn-left.svg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    opacity: 1;
    transform: rotate(180deg);
}

.swiper-button-prev::after,
.slick-arrow.slick-prev:before {
    content: url(../public/images/slider-btn-left.svg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    opacity: 1;
}

.slick-next {
    right: 325px;
}

.slick-prev {
    left: -35px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    background-color: transparent;
    border: 1.5px solid #153630;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 10px rgba(46, 236, 197, 0.1);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

/* FULLPAGE */

#fp-nav.fp-left {
    left: 200px !important;
    top: 350px !important;
}

#fp-nav ul li {
    display: flex !important;
    width: 14px !important;
    height: 13px !important;
    position: relative !important;
    margin: 25px 0px !important;
}

.fp-watermark,
.fp-watermark a {
    display: none !important;
}

.fp-is-overflow .fp-overflow.fp-auto-height-responsive,
.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow>.fp-overflow {
    overflow-y: visible !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    margin: -6px 0 0 -6px !important;
    border-radius: 100% !important;
    width: 23px !important;
    height: 23px !important;
    background: radial-gradient(91.3% 91.3% at 50% 50%, #16ECC0 0%, rgba(32, 169, 141, 0) 100%) !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50% !important;
    position: absolute !important;
    z-index: 1 !important;
    border: 0 !important;
    left: 50% !important;
    top: 50% !important;
    margin: -2px 0 0 -2px !important;
    transition: all .1s ease-in-out !important;
    width: 13px !important;
    height: 13px !important;
    background: rgba(32, 169, 141, 0.7) !important;
}

#fp-nav ul li a.active::before,
.fp-slidesNav ul li a.active::before {
    content: '' !important;
    position: absolute !important;
    top: -4px !important;
    left: -4px !important;
    width: 33px !important;
    height: 33px !important;
    border: 1.5px solid #16E7BC !important;
    filter: drop-shadow(0px 0px 13px rgba(46, 236, 197, 0.44)) !important;
    border-radius: 50% !important;
}

/* MAIN */

.first-screen {
    background-image: url(../public/images/bg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.footer__decor-start-left {
    top: 65px;
    left: 0;
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation: icon-flickers 1s linear infinite;
}

.footer__decor-start-right {
    top: -53px;
    right: 0;
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation: icon-flicker 1s linear infinite;
}

.footer__animate {
    position: relative;
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation: icon-flicker 1s linear infinite;
}

.portfolio {
    padding: 145px 0px 350px;
    background-image: url(../public/images/decor1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.cooperation {
    padding: 85px 0 145px;
    background-image: url(../public/images/decor2.png);
    background-size: cover;
    background-position: center 80%;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0px 0px 0px rgba(46, 236, 197, 0.15);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(207, 241, 207, 0);
    }
}